*{
    margin: 0px;
}
nav{
    height: 70px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 20px;
    color: white;
    background: linear-gradient(rgba(0, 0, 0, 0.3), rgb(0, 0, 0, 0.3));
    position: fixed;
    top: 0%;
    z-index: 1;
}
.logo-name{
    margin-left: 100px;
}
.logo-name a{
    color: white;
    text-decoration: none;
    font-size: 30px;
}
.items{
    width: 400px;
    margin-right: 80px;
}
.items .list{
    justify-content: space-evenly;
}
.list{
    display: flex;
    list-style: none;
}
li a{
    color: white;
    text-decoration: none;
    font-size: 20px;
}
.main-text{
    background: url(./about-img/banner.webp) no-repeat center/cover;
    height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;    
}
.main-text h1{
    color: white;
    font-size: 80px;
    width: 50vw;
    padding-left: 80px;
    margin-top: 50px;
}

